@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    box-sizing: border-box;
}
aside{
    position: fixed;
    width: 100%;
    height: 25px;
    background: #1CD1B0;
    float: left;
    z-index: 20;
}
.descuentos{
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    margin: 3px 17px;
    color: #000000;
}
header{
    position: fixed;
    width: 100%;
    height: 6vh;
    margin-top: 3vh;
    float: left;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    z-index: 20;
}
h1{
    position: relative;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vh;
    width: 100%;
    margin: 20px 15px;
    line-height: 2px;
    color: #FFFFFF;
}
main{
    position: absolute;
}
/*Logos*/
div.logo {
    position: relative;
    width: 115px;
    height: 115px;
    left: 730px;
    top: 35px;
    border-radius: 100%;
    z-index: 10;
}
div.Batman {
    background-image: url(../img/batman.jpg);
    background-size: cover;
    background-position: -68px;
}
div.Maravilla{
    background-image: url(../img/wonderw.jpg);
    background-size: cover;
    background-position: -40px; 
}
div.Superman{
    background-image: url(../img/superman.jpg);
    background-size: cover;
    background-position: -23px; 
}
/*Corazon*/
.fa-heart {
    position: relative;
    z-index: 15;
    color: red;
    padding: 30px;
    left: 580px;
    top: 165px;
}
/*Banner*/
div.banner {
    position: relative;
    width: 400px;
    height: 170px;
    left: 590px;
    top: 100px;
    border-radius: 4vh;
}
div.B{
    background-image: url(../img/bg-batman.jpg);
    background-size: cover;
    background-position: center;
}
div.M{
    background-image: url(../img/bg-wonderw.jpg);
    background-size: cover;
    background-position: center;
}
div.S{
    background-image: url(../img/bg-superman.jpg);
    background-size: cover;
    background-position: center;
}

/*Textos*/
h2{
    position: relative;
    left: 590px;
    top: 50px;
    margin:0;
    z-index: 15;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.texto{
    position: relative;
    width:400px;
    height: 430px;
    text-align: center;
    left: 590px;
    top: -95px;
    padding: 150px 35px 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #333333;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}
/*Ver mas*/
.vermas{
    background: chartreuse;
    position: relative;
    left: 760px;
    bottom: 180px;
    z-index: 15;
}
/*Boton*/
.circle{
    position: fixed;
    width: 9vh;
    height: 9vh;
    left: 190vh;
    top: 85vh;
    border-radius: 100%;
    background: #00669F;
    color: white;
}
.mas{
    position: relative;
    color: white;
    left: 20px;
    text-align: center;
    text-decoration: solid;
}
/*footer*/
.footer{
    position: absolute;
    width: 100%;
    height: 50px; 
    border: 1px solid black;
    left: 0px;
    top: 3102px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.derechos{
    position: relative;
    text-align: center;
    width: 100%;
    height: 42px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFF9F9;
}
.github{
    position: relative;
}
